
 @font-face {
    font-family: 'playfair_displayregular';
    src: url('./fonts_web/PlayfairDisplayRegular/playfairdisplay-regular-webfont.woff2') format('woff2'),
         url('./fonts_web/PlayfairDisplayRegular/playfairdisplay-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.block {	
	height: 940px;
	width:62%;
	margin: auto;
	margin-top: 100px;
	margin-bottom: 100px;
	background-color: #ffffff;
	box-shadow:  0 0 68px 6px rgba(0,0,0,0.1);
	}

.text{ 	
	padding: 140px 135px 120px 120px;
	}

h1 {
	margin:0;
	font-family: 'playfair_displayregular', Arial, sans-serif;
	font-size: 42px;
	color: #000000;	
}

p {
	margin: 0;
	font-family: 'Lato', Arial, sans-serif;
	font-size: 18px;
	white-space: pre-wrap;
	padding-top: 34px;
	line-height: 1.7;
	color: #999999;
	color: rgba(0,0,0,0.7);
	}

p:nth-child(2)::first-letter {
	font-size: 110px;
	font-family: 'playfair_displayregular', Arial, sans-serif;	
	float: left;
	line-height: 100px;
	padding-right: 30px;
	color: rgba(0,0,0,1);
}	

	
q {
	padding-top: 34px;
	font-family: 'Lato', Arial, sans-serif;
	font-size: 24px;
	color: rgba(0,0,0,0.7);
	font-style: italic; 
		
}

q::before {
    content: open-quote;
    font-size: 60px;
    content: '\201c';
}

q::after {
    content: none;
}


button {
	height: 68px;
	width: 264px;
	font-size: 18px;
	text-transform: uppercase;
	margin-top:45px;
	border: 2px solid #ff9966;
	background-color: white;
	color: #ff9966;
	font-family: 'Lato', Arial, sans-serif;
	font-weight: 700;
}

button:hover {
	background-color: #ff9966;
	color: white;
	cursor: pointer;
}

button:active {
	background-color: green;
	border: green;
}